<style>
    .confirmation-one{
        display: flex;
        height: 50px;
        width: 400px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: {{banner-color}} !important;
    }

    .confirmation-one .confirmation-one-left{
        background-color: {{left-banner-color}} !important;
        width: 20px;
    }

    .confirmation-one .confirmation-one-middle{
        margin-left: 10px;
        font-size: 18px !important;
        width: 360px;
        line-height: 50px;
        font-family: sans-serif;
        color: whitesmoke !important;
    }
    
    .confirmation-one .confirmation-one-close {
        color: {{x-color}} !important;
        width: 20px;
        text-align: center;
        font-size: 18px !important;
        font-weight: bold;
        cursor: pointer;
    }

    @media only screen and (max-width: 400px) {
            .confirmation-one{
                width: calc(100%);
            }
            .confirmation-one .confirmation-one-middle{
                font-size: 16px !important;
            }
        }
</style>
<div class="confirmation-one">
    <div class="confirmation-one-left"></div>
    <div class="confirmation-one-middle">{{text}}</div>
    <div class="confirmation-one-close">&times;</div>
</div>
<script>
    var modal = document.getElementsByClassName("confirmation-one ")[0];
    var close = document.getElementsByClassName("confirmation-one-close")[0];

    close.onclick = function () {
        modal.remove();
    }
</script>
