<style>
    .groups-container{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .groups-border {
        margin: auto;
        background-color: #FFFFFF !important;
        border: solid #000000 30px!important;
        border-width: 20px;
        max-width: 550px !important;
        color: #000000 !important;
    }
    .groups-border.intersial .groups-content {
        max-width: 420px;
        margin: 35px auto 15px;
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .groups-border.intersial .groups-title {
        margin-bottom: 25px;
        color: #000000 !important;
        font-size: 26px !important;
        line-height: 30px;
        font-weight: 600;
        font-family: retina black,Helvetica,sans-serif !important;
    }
    .groups-border.intersial .groups-description {
        /* margin-bottom: 30px; */
        font-size: 20px !important;
        margin-bottom: 55px;

    }
    .groups-group-subscribe-wrapper, .register-wrapper {
        width: 100%;
        text-align: center;
    }
    .groups-border .groups-group-subscribe-wrapper a.groups-button.omnitrack {
        padding: 10px;
        color: {{button_text_color}} !important;
        background-color: {{button_color}}!important;
        border-color: {{button_color}} !important;
        background-image: none;
        font-family: outsiders bold,Georgia,serif;
        font-size: 18px !important;
        line-height: 20px;
        color: #fff !important;
        text-transform: capitalize;
        text-decoration: none;
        text-align: center;
    }
    .groups-border.intersial .groups-footer {
        margin-bottom: 0;
        text-align: left;
        margin: 30px -20px 0;
        padding: 18px 20px;
        color: #000 !important;
        border-top: 1px solid #d8d8d8 !important;
        margin-left: 20px;
        margin-right: 20px;
    }
    .login-link, .subscriber-link {
        margin-bottom: 15px;
    }
    .groups-footer, .groups-footer * {
        font-family: outsiders bold,Georgia,serif;
        font-size: 18px !important;
        line-height: 22px;
        font-weight: 550;
    }
    .groups-link{
        color: black !important;
    }

</style>
<div class="groups-container">
    <div class="groups-border intersial layout-content">
        <div class="groups-content region-content">
            <div class="groups-title h1">
                <span>{{title}}</span>
            </div>
            <div class="groups-description">
                <p>{{subtitle}}</p>
            </div>
            <div class="groups-group-subscribe-wrapper">
                <a class="groups-button subscriber omnitrack" href="{{button_url}}">
                    {{button_text}}
                </a>
            </div>
        </div>
        <footer class="groups-footer region-content">
            <div class="login-link">
                {{cta_text}}
                <a class="groups-link" href="{{cta_url}}">{{cta_link_text}} &gt;</a>
            </div>
            <div><a class="groups-link" href="{{cta_two_url}}">{{cta_two_text}} &gt;</a></div>
        </footer>
    </div>
</div>