
    <style>
        .mainBoxModal-modal-u-f-t-two {
            position: fixed; 
            z-index: 99999; 
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto; 
            -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s
        }
        .modal-u-f-t-two {
            position: fixed;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            width: 300px;
            height: 300px;
            overflow: auto;
            background-color: {{banner-color}} !important;
        }
        .modal-u-f-t-two .content-top{
            background: linear-gradient(90deg, {{title-background-color-left}} 15%, {{title-background-color-right}} 15%) !important;
            color: {{title-text-color}} !important;
            text-align: center;
            justify-content: center;
            font-size: 24px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 700;
            font-family: sans-serif;
            line-height: 1;
            text-align: center;
        }
        .modal-u-f-t-two .content-bottom{
            text-align: center;
            justify-content: center;
            align-items: center;            
        }
        .modal-u-f-t-two .content-bottom .content-bottom-title{
            margin-top: 55px;
            font-weight: 700;
            font-family: sans-serif;
            font-size: 29px !important;
            margin-bottom: 10px;
            color: black !important;
        }
        .modal-u-f-t-two .content-bottom .content-bottom-text{
            font-size: 14px !important;
            font-family: sans-serif;
            margin-bottom: 20px;
            color: black !important;
        }
        .modal-u-f-t-two .content-bottom .content-bottom-button{
            color: {{button-text-color}} !important;
            font-size: 16px !important;
            font-family: sans-serif;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            border-color: {{button-color}} !important;
            background-color: {{button-color}} !important;
            width: 200px;
            height: 40px;
            border-radius: 60px;
            align-items: center;
            justify-content: center;
            border-style: solid;
            cursor: pointer;
            padding: 0 !important;
        }
        .modal-u-f-t-two .close {
            color: {{color-x}} !important;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            right: 6px;
            cursor: pointer;
        }
    </style>
    <div class="mainBoxModal-modal-u-f-t-two" id="mainBoxModal-modal-u-f-t-two">
        <div class="modal-u-f-t-two">
            <div class="content-top">
                {{title}}
            </div>
            <span class="close">&times;</span>
            <div class="content-bottom">
                <div class="content-bottom-title">{{subtitle}}</div>
                <div class="content-bottom-text">{{text}}</div>
                <button class="content-bottom-button" onclick="window.location.href='{{button-link}}'">{{button-text}}</button>
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementsByClassName("mainBoxModal-modal-u-f-t-two")[0];
        var close = document.getElementsByClassName("close")[0];

        close.onclick = function () {
            modal.remove();
        }
    </script>