<style>
    .mainBoxModal-modal-u-f-t-three {
        position: fixed; 
        z-index: 999999; 
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s
    }
    .modal-u-f-t-three {
        position: fixed;
        left: 50%;
        top: 5px;
        transform: translate(-50%, 0);
        width: 400px;
        height: 100px;
        overflow: auto;
        display: flex;
        background-color: {{banner-color}} !important;
    }

    .modal-u-f-t-three .modal-u-f-t-left {
        background: {{title-background-color-right}} !important;
        height: 100%;
        max-width: 40%;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        position: relative;
        order: 1;
    }

    .modal-u-f-t-three .modal-u-f-t-left::before {
        content: '';
        width: 30px;
        height: 100%;
        background-color: {{title-background-color-left}} !important;
        flex: 0 0 30px;
        max-width: 30px;
    }

    .modal-u-f-t-three .modal-u-f-t-left div {
        flex: 0 0 calc(100% - 30px);
        width: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }

    .modal-u-f-t-three .modal-u-f-t-left .modal-u-f-t-left-text {
        color: {{title-text-color}} !important;
        font-size: 25px !important;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 1;
        text-align: center;
    }

    .modal-u-f-t-three .modal-u-f-t-right {
        padding-left: 2%;
        max-width: 55%;
        align-items: center;
        position: relative;
        order: 2;
    }

    .modal-u-f-t-three .modal-u-f-t-right h2 {
        font-size: 20px !important;
        padding-top: 10px;
        margin-top: 0px;
        margin-bottom: 2px;
        color: black !important;
    }

    .modal-u-f-t-three .modal-u-f-t-right p {
        font-size: 12px !important;
        margin-top: 8px;
        margin-bottom: 0px;
        color: black !important;
    }

    .modal-u-f-t-three .modal-u-f-t-right button {
        color: {{button-text-color}} !important;
        font-size: 14px !important;
        font-family: sans-serif;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        border-color: {{button-color}} !important;
        background-color: {{button-color}} !important;
        width: 152px;
        height: 24px;
        margin-top: 8px;
        border-radius: 60px;
        align-items: center;
        justify-content: center;
        border-style: solid;
        cursor: pointer;
        padding: 0 !important;
    }

    .modal-u-f-t-three .close {
        color: {{x-color}} !important;
        font-size: 18px !important;
        font-weight: bold;
        position: absolute;
        right: 6px;
        cursor: pointer;
    }
    @media only screen and (max-width: 500px) {
        .modal-u-f-t-three {
            width: 100%;
        }
    }
    @media only screen and (max-width: 330px) {
        .modal-u-f-t-three .modal-u-f-t-left .modal-u-f-t-left-text {
            font-size: 21px !important;
        }

        .modal-u-f-t-three .modal-u-f-t-right h2 {
            font-size: 16px !important;
        }

        .modal-u-f-t-three .modal-u-f-t-right p {
            font-size: 8px !important;
        }

        .modal-u-f-t-three .modal-u-f-t-right button {
            font-size: 10x !important;
            width: 130px;
            height: 24px;
        }
    }
</style>
<div class="mainBoxModal-modal-u-f-t-three">
    <div class="modal-u-f-t-three">
        <div class="modal-u-f-t-left">
                <div class="modal-u-f-t-left-text">{{title}}</div>
        </div>
        <div class="modal-u-f-t-right">
            <h2>{{subtitle}}</h2>
            <p>{{text}}</p>
            <button onclick="window.location.href='{{button-link}}'">{{button-text}}</button>
        </div>
        <span class="close">&times;</span>
    </div>
</div>

<script>
    var modal = document.getElementsByClassName("mainBoxModal-modal-u-f-t-three")[0];
    var close = document.getElementsByClassName("close")[0];

    close.onclick = function () {
        modal.remove();
    }
</script>